{{#extends "base"}}
{{#block "title"}}
HOME | True Organic
{{/block}}

{{#block "content"}}
<h1>Welcome to True Organic</h1>
<h2>The portal where we sell super expensive food</h2>
{{/block}}

{{/extends}}